.form {
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
}

/*.form input {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 18px;
}*/

/*#updateInput {
  width: 200px;
  height: 20px;
  margin-bottom: 10px;
}*/